@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*
experience,
experience__grid,
experience__grid__images,
experience__grid__content,
experience__grid__images_img1,
*/
.experience {
  height: 100%;
  margin-bottom: 10rem;
  display: block;
}
.experience__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 992px) {
  .experience__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.experience__grid__experience {
  position: absolute;
  background-color: #499bee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  gap: 0.5rem;
  right: 5%;
  top: 60%;
  width: 120px;
}
@media screen and (min-width: 321px) {
  .experience__grid__experience {
    right: 18%;
  }
}
@media screen and (min-width: 992px) {
  .experience__grid__experience {
    gap: 0rem;
    right: 20%;
    top: 78%;
    width: 180px;
  }
}
.experience__grid__experience > * {
  text-align: center;
  font-size: 10px;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}
@media screen and (min-width: 992px) {
  .experience__grid__experience > * {
    font-size: 16px;
  }
}
.experience__grid__experience :first-child {
  font-size: 15px !important;
}
@media screen and (min-width: 992px) {
  .experience__grid__experience :first-child {
    font-size: 25px !important;
  }
}
.experience__grid__images {
  position: relative;
  height: 60vh;
}
.experience__grid__images_flecha1 {
  position: absolute;
  left: 10%;
  top: 260px;
  z-index: 9999;
}
@media screen and (min-width: 992px) {
  .experience__grid__images_flecha1 {
    left: -1%;
    top: 330px;
    width: 350px;
    height: 200px;
    transform: rotate(-7deg);
  }
}
.experience__grid__images_flecha2 {
  z-index: 4;
  position: absolute;
  top: 200px;
  right: 5%;
}
@media screen and (min-width: 992px) {
  .experience__grid__images_flecha2 {
    right: 8%;
    top: 270px;
    width: 250px;
    height: 150px;
    transform: rotate(-10deg);
  }
}
.experience__grid__images_img1 {
  position: absolute;
  background-image: url("/imagenes/estudiantes.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 141px;
  height: 211px;
  left: 15%;
  top: 90px;
  transform: rotate(-15deg);
}
@media screen and (min-width: 992px) {
  .experience__grid__images_img1 {
    width: 220px;
    height: 320px;
    left: 13%;
    transform: rotate(-12deg);
  }
}
@media screen and (min-width: 1366px) {
  .experience__grid__images_img1 {
    width: 282px;
    height: 422px;
  }
}
.experience__grid__images_img2 {
  position: absolute;
  background-image: url("/imagenes/rector.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 115px;
  height: 150px;
  left: 55%;
  top: 80px;
}
@media screen and (min-width: 992px) {
  .experience__grid__images_img2 {
    width: 170px;
    height: 220px;
    left: 52%;
  }
}
@media screen and (min-width: 1366px) {
  .experience__grid__images_img2 {
    top: 100px;
    left: 45%;
  }
}/*# sourceMappingURL=Experience.module.css.map */