@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

/*

  about,
  about__grid,
  about__grid__content,
  about__grid__content_name,
  about__grid__content_title,
  about__grid__content_text,
  about__grid__content__prupouses,
  about__grid_img,

*/

.about {
  height: max-content;
  &__grid {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint($md) {
      grid-template-columns: 60% 1fr;
      justify-items: end;
      padding: 27px 30px;
    }

    &_img {
      background-image: url("/imagenes/aboutImg.webp");
      background-size: cover;
      background-repeat: no-repeat;
      height: 400px;
      width: 100%;
      border-radius: 10px;
      display: none;
      @include breakpoint($ipad-port) {
        display: block;
        height: 100%;
        width:90%;
        background-position: center;
      }
      @include breakpoint($lg) {
        height: 100%;
        width: 90%;
      }
    }

    &__content {
      max-width: 100%;
      
      &_name {
        font-weight: 500;
        color: $dark;
        font-size: 18px;
        @include breakpoint($md) {
          font-size: 20px;
        }
      }
      &_title {
        font-weight: 600;
        color: $darkBlue;
        font-size: 24px;
        @include breakpoint($md) {
          font-size: 48px;
        }
      }
      &_text {
        
        font-size: 16px;
        font-weight: normal;
        color: $dark;
        text-align: justify;
      }
      &__prupouses {
        gap: 1rem;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1f);
        @include breakpoint($ipad-port) {
          gap: 1rem;
          margin: 2rem 0 ;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
