
#card{

    background-color: #499bee;
    width: 500px;
    height: 500px;
   padding: 5rem;
   color: white;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    
}
#img{
    width: 250;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 20px;
}
#logo {
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#card p {
    text-align: center;
}