//Fuentes
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Colores
$purple: #4f067b;
$orange: #fc9801;
$green: #0aa63f;
$red: #e80000;
$blue: #499bee;
$darkBlue: #0c4681;
$dark: #000000;
$grey: #333;

// Font variables
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
